
{% extends "Doctor/header_adm.html" %}
{% block content %}
{% load static %}


<div id="page-wrapper">
    <div class="main-page">
        <div class="forms">

            <h3 class="title1">Shedule Time</h3>

            <div class="col-sm-12" style="margin-top: 10px;">
    <div class="form-title">
                    <h4>Add Time :</h4>
                </div>
                {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                              <div class="alert alert-success"> {{message }}</div>
                                {% endfor %}
                            </ul>
                            {% endif %}
                       
                            <form action="/save_approve/{{id}}" method="post" id="myform" enctype="multipart/form-data">
                                {% csrf_token %}
                            <div class="col-sm-6" >
                               
                                <div class="form-group">
                                    <label>Time</label>
                                    <select name="time" class="form-control">
                                        <option value="">--Select--</option>
                                        {% for hour in hours %}
                                        <option value="{{ hour.value }}">{{ hour.display }}</option>
                                      {% endfor %}
                                      </select>
                                      
                                    
                                    </div>
                                    <div class="col-sm-12" style="text-align: center;"> <button type="submit" class="btn btn-default">Submit</button> </div></form>
                                    <link href="{% static 'assets/jquery/jquery-ui.css' %}" rel="stylesheet" type="text/css"  />
                                    
                                    <script type="text/javascript" src="{% static 'assets/jquery/jquery-ui.js' %}"></script>
                                    <script type="text/javascript" src="{% static 'assets/jquery/jquery-ui.min.js' %}"></script>
                                   
                         
                                    <script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
                                    <script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
                                    <script>
                                    (function ($, W, D)
                                    {
                                    var JQUERY4U = {};
                                    JQUERY4U.UTIL =
                                    {
                                    setupFormValidation: function ()
                                    {
                                    $.validator.addMethod(
                                    "regex",
                                    function(value, element, regexp) {
                                    var check = false;
                                    return this.optional(element) || regexp.test(value);
                                    },
                                    "Not a valid Input."
                                    );
                                    
                                    //form validation rules
                                    $("#myform").validate({
                                    rules: {
                                        time: {
                                                              required: true,
                                                            
                                                           
                                    
                                                            },
                                                          
                                                        
                                                          },
                                                          messages: {
                                    
                                                           
                                    
                                              
                                          },
                                    submitHandler: function (form) {
                                    form.submit();
                                    }
                                    });
                                    }
                                    }
                                    //when the dom has loaded setup form validation rules
                                    $(D).ready(function ($) {
                                    JQUERY4U.UTIL.setupFormValidation();
                                    });
                                    })(jQuery, window, document);
                                    </script>
                                    <link href="{% static 'assets/jquery/jquery-ui.css' %}" rel="stylesheet" type="text/css"  />
                                   
                                    <script type="text/javascript" src="{% static 'assets/jquery/jquery-ui.js' %}"></script>
                                   
                                    <script>
                                    $(function() {
                                    
                                    
                                    $( "#visiting_date" ).datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true,
                                    changeYear: true,minDate:'0', });
                             
                                    
                                    });</script>
                               
                             
                            </div>   
                          


            </div>
            <div class="row">

        </div>
    </div>
</div></div>
<!--footer-->
{% endblock %}